html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --cta_w: 60%;
    --cta_h: 100vh;
    --bg_dark: rgb(19, 21, 22);
    --bg_dark_2: #1f1f1f;
    --txt_color: #bebebe;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.nav_icons {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.nav_circle {
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    background-color: black;
    margin-right: 1rem;
    transition: 1s all;
    font-size: 2rem;
}

.nav_circle:hover {
    transform: scale(1.3);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 2rem;
    background-color: var(--bg_dark_2);
    color: var(--txt_color);
    box-shadow: 0px 0px 1px 1px var(--txt_color);
}

.navbar img {
    width: 2rem;
    margin: 0;
    margin-left: 1rem;
}

.navbar a {
    color: var(--txt_color);
}

.navbar * {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

/* sections */
.index:before {
    content: "";
    width: var(--cta_w);
    height: var(--cta_h);
    background-color: black;
    color: white;
    transform: skewX(-9deg);
    transform-origin: top right;
}

.index .cta {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--cta_w) - calc(var(--cta_w) / 4));
    height: var(--cta_h);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.index .cta_inner {
    width: 50%;
}

body.aboutus {
    background-image: none;
    background-color: var(--bg_dark);
    height: auto;
}

.aboutus .aboutus_wrap {
    margin: 6rem 10%;
    display: flex;
    flex-wrap: wrap;
}

.aboutus .about_org {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.aboutus .about_org_img  {
    width: 60%;
}

.aboutus .about_org_desc {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--txt_color);
}

.aboutus .about_org_desc p {
    padding-left: 4rem;
    border-left: 5px solid var(--txt_color);
}

.aboutus .about_org_desc a {
    color: white;
    text-decoration: underline;
}

.aboutus .about_minetest {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.aboutus .about_minetest_desc {
    width: 40%;
    color: var(--txt_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.aboutus .minetest-logo {
    width: 60%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
}

.aboutus .minetest-logo img {
    width: 80%;
}

.aboutus .minetest-logo:hover {
    transform: scale(1.1);
}

body.projects {
    justify-content: center;
    background-color: var(--bg_dark);
    background-image: none;
}

.projects #project_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.projects .project_card {
    background-color: #f8f9fa;
    box-shadow: 0px 0px 2px 2px #888888;
    width: 15rem;
    text-align: center;
    background-color: var(--bg_dark_2);
    color: var(--txt_color)
}

.projects .project_card h1 {
    margin-bottom: 0.25rem;
    line-height: 1em;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    min-height: 2em;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.projects .project_card p:first-of-type {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    min-height: 2rem;
    margin-bottom: 1rem;
}

.projects .project_card a {
    color: var(--txt_color);
    display: block;
    margin-bottom: 1rem;
}



@media only screen and (max-width: 768px) {
    :root {
        --cta_w: 100%;
        --cta_h: 60%;
    }
    body.index {
        flex-direction: column;
        justify-content: flex-start;
    }
    .index:before {
        transform: skewY(-9deg);
        transform-origin: bottom left;
    }
    .index .cta {
        width: var(--cta_w);
        text-align: center;
    }
    .nav_icons {
        flex-direction: row;
        margin-top: 2rem;
    }
    .nav_circle {
        margin-right: 0;
    }

    .aboutus .about_org_img, .aboutus .about_org_desc {
        width: 100%;
    }

    .aboutus .about_org_desc p {
        padding: 0;
        border: none;
    }

    .aboutus .about_minetest_desc {
        width: 100%;
        margin-bottom: 2rem;
    }

    .aboutus .minetest-logo {
        width: 100%;
    }
}